<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="Banking">
    <test name="Cash Withdrawal">
        <classes>
            <class name = "testng.basic"/>
        </classes>
    </test>
    
    <test name = "Amount Balance">
        <classes>
            <class name="testng.balance">
                <methods>
                    <exclude name="shopLoan"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>
