<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="Banking">
    <test name="Cash Withdrawal">
        <groups>
            <run>
                <include name = "smoke"/>
            </run>
        </groups>
        <classes>
            <class name = "testng.basic"/>
            <class name="testng.balance"/>
        </classes>
    </test>
</suite>
